* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #eef2e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  background-color: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 10px;
  overflow: hidden;
}
#top-section {
  width: 100%;
  height: 100px;
  background-color: #d6e4c4;
  display: flex;
  justify-content: space-between;
  padding: 0 35%;
  align-items: center;
}

.stats {
  display: flex;
  color: #3b5c37;
  font-weight: 700;
  gap: 15px;
  align-items: center;
}

.stats-box {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  color: #222831;
  font-weight: 600;
}

#bottom-section {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 20px;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
  color: rgb(66, 90, 63);
}

.bubble {
  display: flex;
  height: 45px;
  width: 45px;
  background: #51704d;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin: 10px;
  font-weight: 600;
  color: #fff;
}

.bubble:hover {
  background: rgb(66, 90, 63);
  cursor: pointer;
}
